button{
    cursor: pointer;
}
input[type=text]:focus {
    border: 3px solid #555;
  }
// label {
//     //display: block;
//     font: 1rem 'Fira Sans', sans-serif;
// }
// .list-todo-conttainer{}

.add-todo{
    width: 400px;
    display: inline-block;
    .button-add{
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 4px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
    }
    .button-add:hover{
        background-color: #282c34; /* Green */
        color: white;
        border: 2px solid #4CAF50;
    }
}
.list-todo-content{
    width: 400px;
    margin: auto;
    text-align: -webkit-left;

    .todo-content{
        &:first-child{
            border-top: 1px solid grey;
        }
        height: 40px;
        border-bottom: 1px solid grey;
        margin: 10px;

        .button-edit{
            border-radius: 50%;
            margin: 0 1px;
        }
        .button-edit:hover{
            background-color: #282c34; /* Green */
            color: white;
            border: 2px solid #4CAF50;
        }
        .button-delete{
            border-radius: 50%;
            color: black;
        }
        .button-delete:hover{
            background-color: red; /* Green */
            color: white;
            border: 2px solid #4CAF50;
        }

    }

}


// .todo-content{
    // scss: cha se long con
// }
