.list-todo-conttainer{
    .add-todo{

    }
    .list-todo-content{
        width: 400px;
        margin: auto;

        .todo-content{
            height: 40px;
            border-bottom: 1px solid grey;
            margin: 10px;
        }
    }   
}
// .todo-content{
    // scss: cha se long con
// }
